@import "../../styles/colors.scss";

.cardGame {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }

    .picture {
        align-self: center;
        width: 93%;
        height: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 3.5%;
        margin-bottom: 2.5%;
    }

    h3 {
        display: -webkit-box;
        font-size: 2.7vh;
        max-width: 16ch;
        margin: auto;
        word-wrap: break-word;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-left: 3.5%;
        margin-right: 3.5%;
    }
}