.starRating {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80%;
    height: 7%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    color: yellow;

    h3 {
        height: 100%;
        line-height: 1;
    }
}