.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    h2 {
        font-size: 3vh;
    }

    .lists {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
}