/* Colors */
$whiteSmoke: #F1F0F0;
$richBlack: #0D1321;
$platinum: #E5E5E5;
$timberwolf: #D5D4D4;
$charcoal: #374151;
$gunmetal: #212938;

/* Light Theme */
$lightBackground: $whiteSmoke;
$lightTexts: $richBlack;
$lightListBgFrame: $platinum;
$lightGameTopListFrame: $timberwolf;

/* Dark Theme */
$darkBackground: $charcoal;
$darkTexts: $whiteSmoke;
$darkListBgFrame: $gunmetal;
$darkGameTopListFrame: $richBlack;
