/* Logo */
$iconLogo: "/assets/logo.svg";

/* ToggleSwitch */
$iconMoon: "../../assets/moon.svg";
$iconSun: "../../assets/sun.svg";

/* Links */
$iconGitHubDark: "../../assets/gitHubDark.svg";
$iconGitHubLight: "../../assets/gitHubLight.svg";
$iconGitLab: "../../assets/gitLab.svg";
$iconLinkedIn: "../../assets/linkedIn.svg";
$iconPostman: "../../assets/postman.svg";