// Icon Locations //
$default: "/assets/images/default/";
$dark: "/assets/images/dark/";
$light: "/assets/images/light/";


/* Logo */
$iconLogo: $default+"logo.svg";

/* ToggleSwitch */
$iconMoon: $default+"moon.svg";
$iconSun: $default+"sun.svg";

/* Links */
$iconGitHubDark: $dark+"gitHub.svg";
$iconGitHubLight: $light+"gitHub.svg";
$iconGitLab: $default+"gitLab.svg";
$iconLinkedIn: $default+"linkedIn.svg";
$iconPostman: $default+"postman.svg";

/* GameList */
$iconArrowDownDark: $dark+"arrowDown.svg";
$iconArrowDownLight: $light+"arrowDown.svg";