@import '_colors.scss';
@import '_icons.scss';

:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-synthesis: none;
    letter-spacing: 2px;
    color-scheme: light dark;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-align: center;

    /* Mobile */
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0 auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        width: 0;
        background-color: transparent;
    }
}

a {
    text-decoration: none;
}

.schemeLight {
    background-color: $lightBackground;
    color: $lightTexts;

    .gameList {
        background-color: $lightListBgFrame;
    }

    .gameListTop,
    .header,
    .footer,
    .cardGame {
        background-color: $lightGameTopListFrame;
    }

    .arrowDown {
        background-image: url($iconArrowDownLight);
    }

    .gitHub {
        @include iconStyle(2vw, $iconGitHubLight);
    }
}

.schemeDark {
    background-color: $darkBackground;
    color: $darkTexts;

    .gameList {
        background-color: $darkListBgFrame;
    }

    .gameListTop,
    .header,
    .footer,
    .cardGame {
        background-color: $darkGameTopListFrame;
    }

    .arrowDown {
        background-image: url($iconArrowDownDark);
    }

    .gitHub {
        @include iconStyle(2vw, $iconGitHubDark);
    }
}