@import '_colors.scss';
@import '_icons.scss';

:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-synthesis: none;
    letter-spacing: 2px;
    color-scheme: light dark;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-align: center;

    /* Mobile */
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0 auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        width: 0;
        background-color: transparent;
    }
}

a, h3 {
    text-decoration: none;
}

.schemeLight {
    background-color: $lightBackground;
    color: $lightTexts;

    h2 {
        color: $lightTexts;
    }

    .gameList, .gameAbout {
        background-color: $lightListBgFrame;
    }

    .button {
        background-color: $lightBgButton;
        border: 2px solid $lightTexts;
    }

    .gameListTop,
    .gameAboutTop,
    .header,
    .footer,
    .gameDesc,
    .cardGame {
        background-color: $lightGameTopListFrame;
    }

    .arrowDown {
        background-image: url($iconArrowDownLight);
    }

    .arrowBack {
        background-image: url($iconArrowBackLight);
    }

    .gitHub {
        @include iconFooterStyle(2vw, $iconGitHubLight);
    }

    .loading {
        @include iconLoadingStyle($iconLoadingLight);
    }
}

.schemeDark {
    background-color: $darkBackground;
    color: $darkTexts;

    h2 {
        color: $darkTexts;
    }

    .gameList, .gameAbout {
        background-color: $darkListBgFrame;
    }

    .button {
        background-color: $darkBgButton;
    }

    .gameListTop,
    .gameAboutTop,
    .header,
    .footer,
    .gameDesc,
    .cardGame {
        background-color: $darkGameTopListFrame;
    }

    .arrowDown {
        background-image: url($iconArrowDownDark);
    }

    .arrowBack {
        background-image: url($iconArrowBackDark);
    }

    .gitHub {
        @include iconFooterStyle(2vw, $iconGitHubDark);
    }

    .loading {
        @include iconLoadingStyle($iconLoadingDark);
    }
}