@import "../../styles/colors.scss";

$iconMoon: "../../assets/moon.svg";
$iconSun: "../../assets/sun.svg";

.toggleSwitch {
    cursor: pointer;
    display: block;
    position: relative;
    width: 8vh;
    height: 4vh;
    text-indent: -9999px;
    border-radius: 100px;

    &:after {
        content: "";
        position: absolute;
        width: 3.20vh;
        height: 3.20vh;
        top: 0.38vh;
        background-size: cover;
        border-radius: 90px;
        transition: 0.3s;
    }
}

.light {
    background-color: $whiteSmoke;

    &:after {
        left: 0.44vh;
        background-image: url($iconSun);
        background-color: $charcoal;
    }
}

.dark {
    background-color: $gunmetal;

    &:after {
        left: calc(55% - 0.15vh);
        background-image: url($iconMoon);
        background-color: $whiteSmoke;
    }
}
