@import "../../styles/icons.scss";
@import "../../styles/colors.scss";

@mixin iconStyle($margin, $image) {
    width: 4vh;
    height: 4vh;
    margin-right: $margin;
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: contain;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .gitLab {
        @include iconStyle(2vw, $iconGitLab);
    }

    .linkedIn {
        @include iconStyle(2vw, $iconLinkedIn);
    }

    .postman {
        @include iconStyle(0, $iconPostman);
    }

    @media (prefers-color-scheme: light) {
        .gitHub {
            @include iconStyle(2vw, $iconGitHubLight);
        }
    }

    @media (prefers-color-scheme: dark) {
        .gitHub {
            @include iconStyle(2vw, $iconGitHubDark);
        }
    }
}