@import "../../styles/icons.scss";

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .gitLab {
        @include iconStyle(2vw, $iconGitLab);
    }

    .linkedIn {
        @include iconStyle(2vw, $iconLinkedIn);
    }

    .postman {
        @include iconStyle(0, $iconPostman);
    }

    @media (prefers-color-scheme: light) {
        .gitHub {
            @include iconStyle(2vw, $iconGitHubLight);
        }
    }

    @media (prefers-color-scheme: dark) {
        .gitHub {
            @include iconStyle(2vw, $iconGitHubDark);
        }
    }
}