@import "../../styles/icons.scss";

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .gitLab {
        @include iconFooterStyle(2vw, $iconGitLab);
    }

    .linkedIn {
        @include iconFooterStyle(2vw, $iconLinkedIn);
    }

    .postman {
        @include iconFooterStyle(0, $iconPostman);
    }
}